@{
    ViewBag.Title = "QiLiveItinerary";
    //Layout = "~/Views/Shared/StoredItin.cshtml";
    Layout = "~/Views/Shared/MyTP.cshtml";   
}
@{
    string msgDisplay = "";
    if (ViewBag.msgDisplay != null)
    {
        msgDisplay = Convert.ToString(ViewBag.msgDisplay);
    }
}
@if (msgDisplay != null && msgDisplay != "")
{
    <div class="error">
        @ViewBag.msgDisplay
    </div>
}
else
{        
    <div class="QiLiveitinerary">
        @ViewData["ItinerayHTML"]
    </div>       
}

@*<div class="QiLiveitinerary">    
		@Html.Raw(@ViewBag.QiLiveItinContent)
    </div>*@ @*<html>
    <head>
        @ViewData["HeaderData"]
    </head>
    <body>
    </body>
    </html>*@ 